html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  font-family: system-ui, sans-serif;
  
  /* this breaks position sticky in Firefox */
  /* overflow-x: hidden; */
}

nav {
  white-space: nowrap;
  background: #000;
  position: fixed;
}
nav ul {
  list-style: none;
  display: inline-flex; 
  margin: 0;
  padding: 0;
}
nav ul li a {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
}
nav ul li a.current {
  background: #ae2826;
}

nav ul li a:hover {
  background: #ae2826;
  color: white;
  text-decoration: none;
}

section {
  padding: 2rem;
  margin: 0 0 2rem 0;
  height: 600px;
  border-bottom: 2px solid black;
}

main {
  padding-bottom: 15rem;
}
